@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-y: auto;
  }
  
  body {
    margin: 0;
    overflow-x: hidden;
  }
  
  #root {
    min-height: 100vh;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}